# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib
*.la
*.lo

# Executables
*.exe
*.out

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# cbp executables (cbp default and cbp_<target>)
cbp
cbp_*

# Results & data
sample_results/
branch_history_log.csv
